<footer class="footer section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="copyright-text">
                    <p>Copyright © 2021 Woozay</p>
                </div>
                <div>
                    <a href="https://github.com/woozay" class="fa fa-github"></a>
                    <a href="https://twitter.com/woozay" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UC7xq6F-Eal9PAi7ESLrh4_Q" class="fa fa-youtube"></a>
                    <a href="mailto:woozay1@gmail.com" class="fa fa-envelope"></a>
                </div>
            
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>