.hover-card .top {
    transition: 1s;
    bottom: 0;
    background: rgba(66, 66, 66, 0.56);
    padding: 0.5em;
    position: absolute;
    left: 0;
    text-align: left;
    color: white;
    width: 100%;
    max-height: 100%;
}

.card:hover .top {
    opacity: 1;
    background: #008CBA;
}

.card:hover .read-more .fa {
    color: white;
}

.hover-card {
    border: none;
    border-radius: 0;
    padding: 0;
}

.hover-card h4{
    margin: 0
}

.hover-card img{
    border-radius: 0
}