.hover-card .top {
    transition: 1s;
    bottom: 0;
    background: rgba(66, 66, 66, 0.56);
    padding: 0.5em;
    position: absolute;
    left: 0;
    text-align: left;
    color: white;
    width: 100%;
    max-height: 100%;
}

.card:hover .top {
    opacity: 1;
    background: #008CBA;
}

.card:hover .read-more .fa {
    color: white;
}

.hover-card {
    border: none;
    border-radius: 0;
    padding: 0;
}

.hover-card h4{
    margin: 0
}

.hover-card img{
    border-radius: 0
}

.footer {
    padding: 10px 0 10px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.copyright-text p {
    color: #bcb9b9;
    margin: 0;
}

.fa {
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    color: #767575;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: #767575;
    text-decoration: none;
}